name: Build and Push Docker Image
on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: ubuntu-22.04
    permissions:
      contents: write    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2        
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/certbot-cron:latest
          platforms: linux/amd64,linux/arm64
      
      - name: Create empty commit to keep repo alive
        if: success()
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit --allow-empty -m "Keep repo active for scheduled workflows"
          git push
